
<!-- <app-course></app-course> -->
<!-- <app-style></app-style> -->
<!-- <app-heart [likes]="likes"></app-heart> -->
<!-- <app-gender></app-gender> -->
<!-- <app-parent></app-parent> -->
<!-- <app-employee></app-employee> -->
<!-- <app-property>
<h2 class="title">THIS IS TITLE</h2>
<h2 class="body">THIS IS BODY</h2>
</app-property> -->

<!-- <app-user></app-user> -->
<!-- <app-userdetails></app-userdetails> -->
<!-- <app-template></app-template> -->
<!-- <app-reactive></app-reactive> -->
<app-navigation></app-navigation>
<div class="container">
    <router-outlet></router-outlet>
</div>